@font-face {
    font-family: 'Proxima Nova';
    src: url('./../assets/fonts/proxima-nova/Mark-Simonson-Proxima_Nova_Alt-Regular-webfont.eot');
    src: url('./../assets/fonts/proxima-nova/Mark-Simonson-Proxima_Nova_Alt-Regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('./../assets/fonts/proxima-nova/Mark-Simonson-Proxima_Nova_Alt-Regular-webfont.woff2') format('woff2'),
        url('./../assets/fonts/proxima-nova/Mark-Simonson-Proxima_Nova_Alt-Regular-webfont.woff') format('woff'),
        url('./../assets/fonts/proxima-nova/Mark-Simonson-Proxima_Nova_Alt-Regular-webfont.ttf') format('truetype'),
        url('./../assets/fonts/proxima-nova/Mark-Simonson-Proxima_Nova_Alt-Regular-webfont.svg#proxima_nova_altregular') format('svg');
    font-weight: normal;
    font-style: normal;

}