@import 'fonts';

body {
    font-family: 'Proxima Nova', sans-serif;
    font-style: normal;
}

.my-select {
    >div {
        background-color: transparent;
    }
}

.my-search {
    input {
        background-color: transparent;
        border-width: 0 0 1px 0;
        border-radius: 0;
    }
}

.bi-submit-buttom__disable {
    background-color: #D2D4D4 !important;
    border-color: #D2D4D4;

    &:hover,
    &:visited,
    &:active {
        background-color: #D2D4D4 !important;
        border-color: #D2D4D4;
    }
}

.bi-submit-buttom {
    background-color: #256bce;
    color: #fff;

    &:hover {
        background-color: #307ae2;
    }
}

.g2-tooltip-modal {
    position: absolute;
    z-index: 8;
    transition: visibility 0.2s cubic-bezier(0.23, 1, 0.32, 1) 0s, left 0.4s cubic-bezier(0.23, 1, 0.32, 1) 0s, top 0.4s cubic-bezier(0.23, 1, 0.32, 1) 0s;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: rgb(174, 174, 174) 0px 0px 10px;
    border-radius: 3px;
    color: rgb(87, 87, 87);
    font-size: 12px;
    line-height: 20px;
    padding: 10px 10px 6px;
}